{% extends "layout.html" %}

{% block title %}Home{% endblock %}
{% block content %}
<div class="post">
  <header class="post-header">
    <h1 class="post-title"></h1>
  </header>

  <article class="post-content">
    <dl id="" class="wp-caption alignright" style="max-width: 170px">
      <dt>
        <a href><img class src="{{url_for('static', filename='images/profile.jpg')}}" alt="Profile Photo"></a>
      </dt>
      <dd></dd>
    </dl>
    <div class="home" style="margin-right: 30px; margin-left: 30px;">
      <p></p>
      <h1 style="margin-bottom:15px">Welcome!</h1>
      <p style="line-height: 175%;">
        Hey, welcome to my website! 
        <i>Why did I make this?</i>
        Well... despite wrestling for over 13 years of my life I've never had a serious sports-related injury. That was until my Junior year at W&amp;L. 
        Due to this injury I was forced to end the season early, however, I grew bored of sitting around and over Christmas break I decided to make this website.
      </p>

      <h1 style="line-height: 190%">What I Do</h1>
      <p style="line-height: 190%">
        I am a Teaching Assistant for Intro to Computer Science at 
        <a href="https://www.wlu.edu/">Washington &amp; Lee University</a>.
        I also compete on the 
        <a href="https://generalssports.com/sports/wrestling">W&amp;L Collegiate Wrestling Team</a> at 133lbs.
        Last Summer I participated in the 
        <a href="https://csblog.academic.wlu.edu/2022/06/14/2022-computer-science-summer-research-scholars/">2022 Computer Science Summer Research Scholar program</a>
        at W&amp;L, during which, I researched contemporary publications and developed a user survey on the what should happen to someone's data/digital fooprintafter they die.
        <strong>This upcoming Summer of 2023 I would like gain experience as an intern in backend development or data analytics</strong>. My application is still
      </p>


      <br>
      <h1 style="margin-bottom:15px">Research Interests</h1>
      <p style="line-height: 190%;"> 
        I like researching machine learning and data analytics.
      </p>
    </div>
  </article>
</div>
{% endblock %}