{% extends "layout.html" %}

{% block title %}Home{% endblock %}
{% block content %}
<div class="post">
  <header class="post-header">
    <h1 class="post-title"></h1>
  </header>

  <article class="post-content">
    <dl id="" class="wp-caption alignright" style="max-width: 170px">
      <dt>
        <a href><img class src="{{url_for('static', filename='images/Bosco.jpg')}}" alt="Profile Photo"></a>
      </dt>
      <dd></dd>
    </dl>
    <div class="home" style="margin-right: 30px; margin-left: 30px;">
      <p></p>
      <h1 style="margin-bottom:15px">Welcome!</h1>
      <p style="line-height: 175%;">
        Hey, welcome to my website! 
        <i>Why did I make this?</i>
        I had my first serious sports-related injury after wrestling for over 13 years, and due to this injury I had to end the season early.
        However, I grew bored of sitting around and over Christmas break decided to make this website.
      </p>

      <h1 style="line-height: 190%">What I Do</h1>
      <p style="line-height: 190%">
        I am a Teaching Assistant for Intro to Computer Science at 
        <a href="https://www.wlu.edu/">Washington &amp; Lee University</a>.
        I also compete on the 
        <a href="https://generalssports.com/sports/wrestling">W&amp;L Collegiate Wrestling Team</a> at 133lbs.
        Last Summer I participated in the 
        <a href="https://csblog.academic.wlu.edu/2022/06/14/2022-computer-science-summer-research-scholars/">2022 Computer Science Summer Research Scholar program</a>
        at W&amp;L, during which, I researched contemporary publications and developed a user survey on the what should happen to someone's data/digital fooprintafter they die.
        <strong>This upcoming Summer of 2023 I would like gain experience as an intern in backend development or data analytics</strong>. 
        As of {{date}} my application is still open.
      </p>

      <br>
      <h1 style="margin-bottom:15px">Academics</h1>
      <p style="line-height: 190%;"> 
        In high school, I received AP credit for computer programming and developed an Android application using the JAVA programming language.
         During the transition to remote learning due to COVID-19, I lost access to most of my work on the school's physical hard drives.
         Although the application was never fully developed or released, I learned a great deal about the software development process during this experience.
         Currently, I am attending Washington and Lee University as a full-time student, pursuing a Bachelor's degree in Computer Science in addition to a Minor in Data Science.
         A few topics in which I'm particularly interested include machine learning algorithms, database system architecture, and data analytics. 
         With regard to the latter topic, I write Python scripts to analyze primary research data from W&amp;L's Department of Neurology for credit as independent research.
         Over the Spring of 2022, I solved the 
         <a href=https://www.gymlibrary.dev/environments/classic_control/>OpenAI/Gym classic control environments</a>
         Cart Pole and Pendulum:
         further reading <a href={{url_for('projects')}}>here</a>.
         More recently, I've applied my knowledge from a course on database systems to build this website.
      </p>
    </div>
  </article>
</div>
{% endblock %}