{% extends "layout.html" %}

{% block title %}Home{% endblock %}
{% block content %}
<div class="post">
  <header class="post-header">
    <h1 class="post-title"></h1>
  </header>

  <article class="post-content">
    <dl id="" class="wp-caption alignright" style="max-width: 170px">
      <dt>
        <a href><img class src="{{url_for('static', filename='images/profile.jpg')}}" alt="Profile Photo"></a>
      </dt>
      <dd></dd>
    </dl>
    <div class="home" style="margin-right: 30px; margin-left: 30px;">
      <p></p>
      <h1 style="margin-bottom:15px">About Me</h1>
      <p style="line-height: 175%;">
        Hey, welcome to my website! I am a Teaching Assistant for Intro to Computer Science at 
        <a href="https://www.wlu.edu/">Washington &amp; Lee University</a>.
        My favorite coding language is Python.
      </p>

      <br>
      <h1 style="margin-bottom:15px">Research Interests</h1>
      <p style="line-height: 190%;"> 
        I like researching machine learning and data analytics.
      </p>
    </div>
  </article>
</div>
{% endblock %}